.primary-sidebar
    aside.widget.news-letter
        h3.widget-title.text-uppercase.text-center Abonnez-vous à la Newsletter
        form(action='#')
            input(type='email', placeholder='Votre adresse email')
            input.text-uppercase.text-center.btn.btn-subscribe(type='submit', value='S\'inscrire')
    aside.widget.border.pos-padding
        h3.widget-title.text-uppercase.text-center Categories
        ul
            li
                a(href='') Catégorie 1
                span.post-count.pull-right  (12)
            li
                a(href='') Catégorie 2
                span.post-count.pull-right  (9)