.row.border-bottom
    nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                i.fa.fa-bars
            form.navbar-form-custom(role='search', action='search_results.html')
                .form-group
                    input#top-search.form-control(type='text', placeholder='Rechercher...', name='top-search')
        ul.nav.navbar-top-links.navbar-right
            li
                a(href='/')
                    i.fa.fa-sign-out
                    |  Retourner sur le site
            li
                a(href='/dashboard/users/logout')
                    i.fa.fa-sign-out
                    |  Se déconnecter