extends ../layout

block content
    #wrapper
        include ../includes/sidebar
        #page-wrapper.gray-bg.dashbard-1
            include ../includes/navbar
            .row.wrapper.border-bottom.white-bg.page-heading
                .col-lg-6
                    h2 Toutes les catégories
                    ol.breadcrumb
                        li
                            a(href='/dashboard') Dashboard
                        li.active
                            strong Toutes les catégories
                .col-lg-6
                    .title-action
                        a.btn.btn-primary.btn-sm(href='/dashboard/posts/addcategory') Ajouter une catégorie
            .wrapper.wrapper-content.animated.fadeIn
                .row
                    .col-lg-12
                        .ibox.float-e-margins
                            .ibox-title
                                h5 Liste de toutes les catégories
                            .ibox-content
                                .table-responsive
                                    table.table.table-striped.table-bordered.table-hover.dataTables-example
                                        thead
                                            tr
                                                th Nom
                                                th Date de création
                                                th Actions
                                        tbody
                                            each category in categories
                                                tr
                                                    td= category.name
                                                    td= category.createdAt
                                                    td
                                                        a(href='/dashboard/posts/editcategory/' + category._id) Editer

            include ../includes/footer

    block javascripts
        script.
            $(document).ready(function () {
                $('.dataTables-example').DataTable({
                    pageLength: 25,
                    responsive: true,
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons: [
                        {extend: 'copy'},
                        {extend: 'csv'},
                        {extend: 'excel', title: 'ExampleFile'},
                        {extend: 'pdf', title: 'ExampleFile'},
                        {
                            extend: 'print',
                            customize: function (win) {
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');
                                $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                            }
                        }
                    ]
                });
            });