doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='Adrien Ferreira')

        title Blog Xnov

        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css', rel='stylesheet')
        link(href='https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css', rel='stylesheet')
        link(href='https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/frontblog/style.css')
        link(rel='stylesheet', href='/stylesheets/frontblog/responsive.css')

    body
        block content

        script(src='http://code.jquery.com/jquery-1.11.1.js')
        script(src='https://cdn.socket.io/socket.io-1.3.7.js')
        script(src='/javascripts/socket.js')
        script(src='/socket.io/socket.io.js')
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js')
        script(src='/javascripts/menu.js')
        script(src='/javascripts/jquery.stickit.min.js')
        script(type='text/javascript', src='/javascripts/scripts.js')
        script.
            $("#share").jsSocials({
                showLabel: false,
                showCount: false,
                shareIn: "popup",
                shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "whatsapp", "messenger"]
            });